<% if book.errors.any? %>
  <div id="error_explanation">
    <ul class = "error_list">
      <h4 class = "error_title"><%= pluralize(book.errors.count, "error") %> prohibited this map from being saved:</h2>
      <% book.errors.full_messages.each do |message| %>
        <li class="error_msg"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>